.card2{
    width: 100%;
    text-align: center;
    box-shadow: 0 0 7px rgb(200, 145, 145);
    img{
        width: 92%;
        height: 82%;
    }
    
    p{
        font-size: 17px;
        text-align: center;
    }
}