.textimg{
    width:100%;
    height: 1000px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid green;
    p{
        font-size: 20px;
        vertical-align: text-bottom;
        width: 500px;
    }
    img{
        width: 500px;
        height: 600px;
        box-shadow: 0 0 8px;
      
    }
   
   }